* {
    box-sizing: border-box;
}

h1 {
    font-family: JFJungleRock;
    color: rgb(250, 235, 150);
}

body {
    font-family: 'JFJungleRock';
    src: url('JFJUNROC.TTF');
    margin: 0;
    padding: none;
    background-color: rgb( 44, 41, 32 );
    color: rgb(250, 235, 150);
}

footer {
    font-family: JFJungleRock;
    font-size: 12px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgb(145, 136, 85);
}
a:visited {
    color: rgb(214, 205, 153);
}
a:hover {
    color: rgb(210, 195, 107);
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: display;
    border: 0px none;
    visibility: hidden;
}
